/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1.25em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
  background-color: #444;
  font-size: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

.ui {
  font-weight: 300;
}

.title {
  margin: 0;
  font-size: 3rem;
}

.subtitle,
.detail-list {
  font-family: 'Merriweather', Georgia, serif;
}

.subtitle {
  margin-top: 0;
  font-weight: bold;
  font-style: italic;
  color: #48E8D1;
}

.menu,
.content {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
}

.menu {
  font-size: 1.25rem;
  width: 20%;
  height: 100%;
  background-color: #48E8D1;
  text-align: right;
}

.menu img {
  width: 50%;
  border-right: 1rem solid #38B5A3;
  margin-right: 5%;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.5);
}

.menu ul {
  display: block;
  margin: 0;
  padding: 0;
}

.menu li {
  display: block;
  padding: 1rem 5%;
  cursor: pointer;
}

.menu li:hover {
  background-color: #38B5A3;
}

.menu li:active {
  box-shadow: inset 0 0 2rem rgba(0,0,0,.25);
}

.menu li.active {
  background-color: #444;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.contact-info {
  text-align: right;
  color: #444;
  padding: 1rem 5%;
}

.contact-info a {
  display: block;
}

.contact-info a:hover {
  text-decoration: underline;
}

.content {
  margin: 0 auto;
  padding: 1%;
  width: 78%;
  color: #cfcfcf;
}

.content p {
  width: 100%;
  max-width: 50rem;
}

.content a {
  color: #fff;
}

.content a {
  color: #fff;
}

.header {
  position: relative;
}

.header .text,
.header img {
  display: inline-block;
  vertical-align: top;
}

.copy .active {
  display: block;
}

.copy .not-active {
  display: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 55em) {
  .menu,
  .content {
    display: block;
  }

  .menu {
    text-align: left;
    margin-right: 0;
    width: 100%;
  }

  .menu img {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    border-right: none;
    border-bottom: 1rem solid #38B5A3;
    margin-right: -5px;
  }

  .menu ul {
    margin-top: 5%;
  }

  .menu li {
    display: inline-block;
    vertical-align: top;
    padding: 1rem 5%;
  }

  .contact-info {
    width: 59%;
    padding: 0 5%;
    text-align: right;
    display: inline-block;
    vertical-align: top;
  }

  .menu ul {
    margin-bottom: 1rem;
  }

  .menu li {
    display: block;
  }

  .content {
    margin: 0;
    width: 90%;
    padding: 5%;
  }

  .title {
    font-size: 2rem;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
